<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book_details', book_id=book['id']) }}">{{ book['title'] }}</a> - {{ book['author'] }} ({{ book['year'] }})
            </li>
        {% endfor %}
    </ul>
</body>
</html>
